Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [57]:
rangeInput = range(2000,3000,1)
lst = []
for no in rangeInput:
    if( no%7 == 0 ) and ( no%5 != 0):
        lst.append(str(no))
print(','.join(lst))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [58]:
first_name = input('Enter First Name: ')
second_name = input('Enter Second Name: ')
print(first_name[::-1]+" "+second_name[::-1])

Enter First Name: Kunal
Enter Second Name: Shaw
lanuK wahS

In [59]:
pi = 3.1415926535897931
user_input = input ("Enter the value of radius: ")
try:
    val = float(user_input)
    V= 4.0/3.0*pi* val**3
    print('The volume of the sphere is: ',V)
except ValueError:
    print("That's not an int!\n\t Please try with numbers")

Enter the value of radius: 12
The volume of the sphere is:  7238.229473870882

Task 2

In [61]:
enter_value = input('Please enter the comma separated value: ');
list = [enter_value]
print(list)

Please enter the comma separated value: 2,24,2,1,5,6,7
['2,24,2,1,5,6,7']

In [62]:
num = input('Please inter the number:');
for i in range(0,int(num)):
    for n in range(0,i+1):
        print('*', end=" ")
    print('\r')
    
for x in range (int(num),-1,-1):
    for j in range(0, x + 1):
        print("*", end=' ')
    print("\r")

Please inter the number:6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [63]:
string = input('Please enter the string: ');
string[::-1]

Please enter the string: AcadGild

'dliGdacA'

In [64]:
print("WE, THE PEOPLE OF INDIA, \n \t having solemnly resolved to constitute India into a SOVEREIGN, !\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t  and to secure to all its citizens ")

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens